<!DOCTYPE html>

<html>
	<head>
		<div th:replace="/fragments/head :: fragment-head"></div>
		<title>회원가입</title>
	</head>
	<body>
        <div th:replace="/fragments/header :: fragment-header"></div>

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 my-5">
					<form name="form" action="/student/signup" method="post">
						<div class="form-group row">
							<label for="inputSID" class="col-md-4 col-form-label">학번</label>
							<div class="col-md-6">
								<input id="inputSID" type="text" class="form-control" pattern="[0-9]{6,20}" name="sid" onkeydown="setFalseID()">
								<div id="resultID" class=""></div>
							</div>
							
                            <div class="col-md-2">
                                <button type="button" onclick="checkID()" class="btn btn-primary w-100">체크</button>
                            </div>
							
						</div>
						<div class="form-group row mt-2">
							<label for="inputPW" class="col-md-4 col-form-label">비밀번호</label>
							<div class="col-md-8">
								<input id="inputPW" type="password" class="form-control" name="pw">
							</div>
						</div>
						
						<div class="form-group row mt-2">
							<label for="inputRePW" class="col-md-4 col-form-label">비밀번호 확인</label>
							<div class="col-md-8">
								<input id="inputRePW" type="password" class="form-control" name="repw">
							</div>
						</div>
						
						<div class="form-group row mt-2">
							<label for="inputName" class="col-md-4 col-form-label">이름</label>
							<div class="col-md-8">
								<input id="inputName" type="text" class="form-control" name="name">
							</div>
						</div>
						
						<div class="form-group row mt-2">
							<label for="inputPhone" class="col-md-4 col-form-label">전화번호</label>
							<div class="col-md-8">
								<input id="inputPhone" type="tel" class="form-control" name="phone">
							</div>
						</div>
						
                        <div class="form-group mt-2">
							<button type="button" class="btn btn-primary col-md-12" onclick="check()">회원 가입</button>
						</div>

						<div class="form-group mt-2">
							<a href="/student/login" class="btn btn-secondary col-md-12">로그인 화면</a>
						</div>
						
						<div class="form-group mt-2">
							<a href="/booking" class="btn btn-info col-md-12">메인 화면</a>
						</div>
						
					</form>
				</div>
			</div>
		</div>
	</body>
	
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script>
		flag = false;
		
		function setFalseID() {
			flag = false;

			$("#inputSID").removeClass("is-valid");
			$("#inputSID").addClass("is-invalid");
			$("#resultID").attr("class", "invalid-feedback");
			$("#resultID").html("아이디를 입력해주세요.");
		}
            
		function checkID(id) {
			if (id == "") {
				return;
			}
			
			$.ajax(
                {
                    type : "GET",
                    url : "/student/checkID/" + $("#inputSID").val(),
                    
					//return true or false
                    success : function(data) {
						if (data == true) {
							flag = true;
							$("#inputSID").removeClass("is-invalid");
							$("#inputSID").addClass("is-valid");
							$("#resultID").attr("class", "valid-feedback");
							$("#resultID").html("사용 가능한 아이디입니다.");
						} else {
							flag = false;
							$("#inputSID").removeClass("is-valid");
							$("#inputSID").addClass("is-invalid");
							$("#resultID").attr("class", "invalid-feedback");
							$("#resultID").html("사용 불가능한 아이디입니다.");
						}
                    },

					error : function() {
						alert("에러");
					}
                }

            )
		}
	
		function check() {
			msg = null;
			
			if (document.form.id.value == "")
				msg = "아이디 칸이 공백입니다.";
			
			if (document.form.pw.value == "")
				msg = "비밀번호 칸이 공백입니다.";
			
			if (document.form.pw.value != document.form.repw.value)
				msg = "비밀번호가 다릅니다.";
			
			if (document.form.phone.value == "")
				msg = "전화번호 칸이 공백입니다.";
			
			if (flag == false)
				msg = "ID 중복확인을 눌러주세요.";
			
			if (msg != null) {
				alert(msg);
				return;
			}
			
			document.form.submit();
		}
	
	</script>
</html>