<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
	<head th:fragment="fragment-head">
		<meta charset="UTF-8">
		<link href="/css/style.css" rel="stylesheet" type="text/css">
        <link href="/css/font.css" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
	</head>
</html>
